<<<<<<< HEAD
body {background-color: #F8F8FF;background:url("https://images2.alphacoders.com/224/224760.jpg") no-repeat;
    background-size:cover;}
h1{color:#CC7722;font-family:Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif;font-size:65px;text-align:center;background-color:#84c1ff;}
p1,h2,h3,h4{color:#D2691E;font-family:Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif;font-size:40px;text-align:center;font-weight:bold;}
form,p2{color:#00bfff;font-size:30px;text-align:center;font-weight:bold;}
	h5,h6{color:#daa520;font-size:30px;text-align:center;font-weight:bold;background-color:#84c1ff;}
	form2{color:#f4a460;font-size:30px;text-align:center;font-weight:bold;}
	p5{color:#ff0000;font-size:30px;text-align:center;font-weight:bold;}
	p6,p7{color:#ff0000;font-size:40px;text-align:center;font-weight:bold;background-color:#642100;}
	p3,p4{color:#000000;font-size:20px;text-align:center;font-weight:bold;}
	button {background-color:#642100;color:white;padding:20px;font-size:20px;margin:10px;border:1px solid gray;border-radius:10px;}
=======
body {background-color:#F8F8FF;background-image:url("https://images2.alphacoders.com/224/224760.jpg") no-repeat;
    background-size:cover;}
h1{color:#CC7722;font-family:Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif;font-size:65px;text-align:center;background-color:#84c1ff;}
p1,h2,h3,h4{color:#D2691E;font-family:Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif;font-size:40px;text-align:center;font-weight:bold;}
form,p2{color:#00bfff;font-size:30px;text-align:center;font-weight:bold;}
	h5,h6{color:#daa520;font-size:30px;text-align:center;font-weight:bold;background-color:#84c1ff;}
	form2{color:#f4a460;font-size:30px;text-align:center;font-weight:bold;}
	p5{color:#ff0000;font-size:30px;text-align:center;font-weight:bold;}
	p6,p7{color:#ff0000;font-size:40px;text-align:center;font-weight:bold;background-color:#642100;}
	p3,p4{color:#000000;font-size:20px;text-align:center;font-weight:bold;}
	button {background-color:#642100;color:white;padding:20px;font-size:20px;margin:10px;border:1px solid gray;border-radius:10px;}
>>>>>>> 8034f1a9bf14304298c82828c2dac14636eb9660
